@-webkit-keyframes filling-heart {
  0% {
    background-color: white;
  }
  30% {
    background-color: rgb(205, 91, 157);
    box-shadow: rgb(205, 91, 157);
  }
  100% {
    background-color: rgb(205, 91, 157);
    color: rgb(205, 91, 157);
    box-shadow: rgb(205, 91, 157);
  }
}
@keyframes filling-heart {
  0% {
    background-color: white;
  }
  30% {
    background-color: rgb(205, 91, 157);
    box-shadow: rgb(205, 91, 157);
  }
  100% {
    background-color: rgb(205, 91, 157);
    color: rgb(205, 91, 157);
    box-shadow: rgb(205, 91, 157);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes shiftButton {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(-5.5rem);
    opacity: 1;
  }
}
@keyframes shiftButton {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(-5.5rem);
    opacity: 1;
  }
}
@-webkit-keyframes shiftPrice {
  0% {
    left: 0rem;
    top: 0rem;
  }
  100% {
    right: 5.5rem;
    top: 0rem;
  }
}
@keyframes shiftPrice {
  0% {
    left: 0rem;
    top: 0rem;
  }
  100% {
    right: 5.5rem;
    top: 0rem;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes loader-wrapper {
  0% {
    opacity: 100%;
    z-index: 1000;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}
@keyframes loader-wrapper {
  0% {
    opacity: 100%;
    z-index: 1000;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/* Here will go the basic definitions of our entire project , they are valuable for all our project*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.head__first-btn {
  border: none;
  margin-bottom: 2.2rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 7px 10px rgb(191, 188, 188);
}
.head__first-btn:hover {
  background: #e96fd5;
  box-shadow: 5px 10px 10px rgb(191, 188, 188);
}
.head__first-btn__text {
  color: white;
  font-size: 1.6rem;
}
.head__first-btn--order {
  margin-left: 60rem;
  margin-right: 60rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.fa-heart {
  font-size: x-large;
}
.fa-heart:hover {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-radius: 10rem;
  -webkit-animation-name: filling-heart;
          animation-name: filling-heart;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
          clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
}

.u-center-logo {
  text-align: center;
}
.u-center-logo__img-logo {
  width: 20rem;
  height: 4rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: black;
  padding-bottom: 3rem;
}
.footer__title {
  font-family: Shrikhand, cursive;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
  height: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.footer__paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
.footer__paragraphs__info {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: black;
}
.footer__paragraphs__info--2 {
  padding-left: 1rem;
}
.footer__paragraphs__info__utensils {
  margin-right: 0.5rem;
}
.footer__paragraphs__info__handshake {
  margin-right: 1rem;
}

.footer--sec-page {
  margin-top: 89.5rem;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.how-it-works__first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3rem;
}

.how-it-works__btn--blue {
  background-color: rgb(218, 245, 245);
  margin-left: 50rem;
  margin-right: 55rem;
}

.how-it-works__btn--grey {
  background-color: rgb(247, 241, 241);
  margin-left: 2rem;
  margin-right: 2rem;
  padding-right: 27rem;
}

.how-it-works__btn {
  border: 1px solid rgb(247, 241, 241);
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 5px 10px 10px 2px rgb(191, 188, 188);
  border-radius: 3rem;
}
.how-it-works__btn__nr {
  border: 10px solid #9356DC;
  color: white;
  background-color: #9356DC;
  border-radius: 4rem;
  margin-left: -1rem;
}
.how-it-works__btn__icon {
  font-size: medium;
  padding-left: 2rem;
  padding-right: 2rem;
}
.how-it-works__btn__text {
  display: inline;
  font-size: 1.6rem;
  font-weight: 700;
}

.u-center-location {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: rgb(221, 218, 218);
}
.u-center-location__icon {
  font-size: medium;
}
.u-center-location__text {
  display: inline;
  font-size: 1.7rem;
  font-weight: 600;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.3rem;
  padding-bottom: 5.5rem;
  background-color: rgb(242, 241, 241);
}
.head__title {
  margin-bottom: 2.2rem;
  font-size: 2.3rem;
  color: rgb(13, 13, 13);
}
.head__first-paragraph {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
}

.sec-paragraph {
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #716d72;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: loader-wrapper;
          animation-name: loader-wrapper;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid rgb(220, 121, 202);
  -webkit-animation: loader 4s infinite ease;
          animation: loader 4s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(209, 49, 180);
  -webkit-animation: loader-inner 4s infinite ease-in;
          animation: loader-inner 4s infinite ease-in;
}

.link {
  text-decoration: none;
  color: black;
}

.restaurants {
  background-color: rgb(240, 233, 233);
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.restaurants__text {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.restaurants__first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
}
.restaurants__sec-row {
  margin-left: 54rem;
}
.restaurants__fig {
  width: 42rem;
  height: 28rem;
  background-color: white;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 5px 10px 10px px rgb(191, 188, 188);
}
.restaurants__fig__img {
  width: 42rem;
  height: 22rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.restaurants__fig__figcaption {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.restaurants__fig__new {
  position: relative;
  text-align: center;
}
.restaurants__fig__new__top-right {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background-color: aquamarine;
  color: rgb(113, 110, 110);
  font-size: 1.5rem;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
}

.New-York {
  font-size: 1.4rem;
}

.div-nameRestaurant-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurants__fig__name {
  font-size: 1.8rem;
  font-weight: bold;
}

.fa-arrow-left {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-right: 62rem;
  margin-left: 2rem;
}

.header-sec-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header-sec-page__arrow {
  text-decoration: none;
  color: black;
}

.img-restaurant {
  max-width: 100%;
  height: auto;
  -webkit-clip-path: inset(40% 0% 40% 0%);
          clip-path: inset(40% 0% 40% 0%);
  margin-top: -40rem;
  margin-bottom: -40rem;
  display: inline;
  padding-bottom: 1rem;
  border-bottom-left-radius: -1rem;
  position: relative;
}

.restaurant {
  background-color: #f2f2f2;
  padding-top: 3rem;
  margin-top: -3.5rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-right: 8.2rem;
  padding-left: 2rem;
  position: absolute;
}
.restaurant__name {
  font-size: 3rem;
  font-weight: bold;
  font-family: Shrikhand, cursive;
  white-space: nowrap;
  margin-right: 115rem;
}

.div-top {
  display: flex;
  flex-direction: row;
}

.restaurant__dishes__div {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.restaurant__dishes__up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
}

.restaurant__dishes {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.restaurant__dishes--3 {
  margin-left: 47rem;
  margin-right: 45rem;
}
.restaurant__dishes--animated-1 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
}
.restaurant__dishes--animated-2 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.restaurant__dishes--animated-3 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dishes-order {
  font-size: 1.6rem;
  padding-top: 3rem;
  margin-bottom: 0.5rem;
  -webkit-text-decoration: double;
          text-decoration: double;
}
.dishes-order__underline {
  border: 2px solid #99E2D0;
  height: 3px;
  width: 4rem;
  margin-bottom: 1.5rem;
  margin-left: 4px;
}

.dish {
  border: 1px solid rgb(191, 188, 188);
  box-shadow: 1px 3px 10px 3px rgb(191, 188, 188);
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  height: 7rem;
  width: 45rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.dish:hover #green-box {
  transform: translateX(-6rem);
}
.dish:hover #price {
  transform: translateX(-6rem);
}
.dish:hover #writtings {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish:hover #check-rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.dish #check-rotate {
  -webkit-animation-name: rotate-reverse;
          animation-name: rotate-reverse;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.dish__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish__desc-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dish__green-box {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  padding: 2rem 3rem;
  margin: -1.2rem 0rem;
  background-color: #99E2D0;
  width: 14%;
  border-radius: 0 15px 15px 0;
  margin-right: -8rem;
  transition: all 2s;
}
.dish__price {
  font-weight: bolder;
  display: inline;
  margin-top: 3rem;
  transition: transform 2s;
}
.dish__ingredients-dish {
  margin-top: -0.5rem;
  padding-bottom: 1.5rem;
}
.dish__ingredients-dish::before {
  content: "\a";
  white-space: pre;
  transition: transform 2s;
}
.dish__name-dish {
  font-weight: bolder;
}

.fa-circle-check {
  margin-top: 0.5rem;
  color: white;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

.div-price-greenBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */