@-webkit-keyframes filling-heart {
  0% {
    background-color: white;
  }
  30% {
    background-color: #cd5b9d;
    -webkit-box-shadow: #cd5b9d;
            box-shadow: #cd5b9d;
  }
  100% {
    background-color: #cd5b9d;
    color: #cd5b9d;
    -webkit-box-shadow: #cd5b9d;
            box-shadow: #cd5b9d;
  }
}

@keyframes filling-heart {
  0% {
    background-color: white;
  }
  30% {
    background-color: #cd5b9d;
    -webkit-box-shadow: #cd5b9d;
            box-shadow: #cd5b9d;
  }
  100% {
    background-color: #cd5b9d;
    color: #cd5b9d;
    -webkit-box-shadow: #cd5b9d;
            box-shadow: #cd5b9d;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes shiftButton {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translate(-5.5rem);
            transform: translate(-5.5rem);
    opacity: 1;
  }
}

@keyframes shiftButton {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translate(-5.5rem);
            transform: translate(-5.5rem);
    opacity: 1;
  }
}

@-webkit-keyframes shiftPrice {
  0% {
    left: 0rem;
    top: 0rem;
  }
  100% {
    right: 5.5rem;
    top: 0rem;
  }
}

@keyframes shiftPrice {
  0% {
    left: 0rem;
    top: 0rem;
  }
  100% {
    right: 5.5rem;
    top: 0rem;
  }
}

/*@keyframes textRetreat {
    0% { width:29.5rem;

    }

    100%{
    width: 24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    }
  }*/
@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotate {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

/* Here will go the basic definitions of our entire project , they are valuable for all our project*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.head__first-btn {
  border: none;
  margin-bottom: 2.2rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 3px 7px 10px #bfbcbc;
          box-shadow: 3px 7px 10px #bfbcbc;
}

.head__first-btn:hover {
  background: #e96fd5;
  -webkit-box-shadow: 5px 10px 10px #bfbcbc;
          box-shadow: 5px 10px 10px #bfbcbc;
}

.head__first-btn__text {
  color: white;
  font-size: 1.6rem;
}

.head__first-btn--order {
  margin-left: 60rem;
  margin-right: 60rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.fa-heart {
  font-size: x-large;
}

.fa-heart:hover {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-radius: 10rem;
  -webkit-animation-name: filling-heart;
          animation-name: filling-heart;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
          clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
}

.u-center-logo {
  text-align: center;
}

.u-center-logo__img-logo {
  width: 20rem;
  height: 4rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  background-color: black;
  padding-bottom: 3rem;
}

.footer__title {
  font-family: Shrikhand, cursive;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
  height: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.footer__paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.footer__paragraphs__info {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: black;
}

.footer__paragraphs__info--2 {
  padding-left: 1rem;
}

.footer__paragraphs__info__utensils {
  margin-right: .5rem;
}

.footer__paragraphs__info__handshake {
  margin-right: 1rem;
}

.footer--sec-page {
  margin-top: 89.5rem;
}

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.how-it-works__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.how-it-works__btn--blue {
  background-color: #daf5f5;
  margin-left: 50rem;
  margin-right: 55rem;
}

.how-it-works__btn--grey {
  background-color: #f7f1f1;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-right: 27rem;
}

.how-it-works__btn {
  border: 1px solid #f7f1f1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: 5px 10px 10px 2px #bfbcbc;
          box-shadow: 5px 10px 10px 2px #bfbcbc;
  border-radius: 3rem;
}

.how-it-works__btn__nr {
  border: 10px solid #9356DC;
  color: white;
  background-color: #9356DC;
  border-radius: 4rem;
  margin-left: -1rem;
}

.how-it-works__btn__icon {
  font-size: medium;
  padding-left: 2rem;
  padding-right: 2rem;
}

.how-it-works__btn__text {
  display: inline;
  font-size: 1.6rem;
  font-weight: 700;
}

.u-center-location {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #dddada;
}

.u-center-location__icon {
  font-size: medium;
}

.u-center-location__text {
  display: inline;
  font-size: 1.7rem;
  font-weight: 600;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.3rem;
  padding-bottom: 5.5rem;
  background-color: #f2f1f1;
}

.head__title {
  margin-bottom: 2.2rem;
  font-size: 2.3rem;
  color: #0d0d0d;
}

.head__first-paragraph {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
}

.sec-paragraph {
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

/*I think I will write here and than as I continue I will divide it slowly 
because I am getting panicky for the moment and I need to feel calm to continue*/
.link {
  text-decoration: none;
  color: black;
}

.restaurants {
  background-color: #f0e9e9;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__text {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.restaurants__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.restaurants__sec-row {
  margin-left: 54rem;
}

.restaurants__fig {
  width: 42rem;
  height: 28rem;
  background-color: white;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-box-shadow: 5px 10px 10px px #bfbcbc;
          box-shadow: 5px 10px 10px px #bfbcbc;
}

.restaurants__fig__img {
  width: 42rem;
  height: 22rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.restaurants__fig__figcaption {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.restaurants__fig__new {
  position: relative;
  text-align: center;
}

.restaurants__fig__new__top-right {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background-color: aquamarine;
  color: #716e6e;
  font-size: 1.5rem;
  padding: .2rem 2.5rem .2rem 2.5rem;
}

.New-York {
  font-size: 1.4rem;
}

.div-nameRestaurant-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__fig__name {
  font-size: 1.8rem;
  font-weight: bold;
}

.fa-arrow-left {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-right: 62rem;
  margin-left: 2rem;
}

.header-sec-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-sec-page__arrow {
  text-decoration: none;
  color: black;
}

.img-restaurant {
  max-width: 100%;
  height: auto;
  -webkit-clip-path: inset(40% 0% 40% 0%);
          clip-path: inset(40% 0% 40% 0%);
  margin-top: -40rem;
  margin-bottom: -40rem;
  display: inline;
  padding-bottom: 1rem;
  border-bottom-left-radius: -1rem;
  position: relative;
}

.restaurant {
  background-color: #f2f2f2;
  padding-top: 3rem;
  margin-top: -3.5rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-right: 8.2rem;
  padding-left: 2rem;
  position: absolute;
}

.restaurant__name {
  font-size: 3rem;
  font-weight: bold;
  font-family: Shrikhand, cursive;
  white-space: nowrap;
  margin-right: 115rem;
}

.div-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurant__dishes__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__dishes__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.restaurant__dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.restaurant__dishes--3 {
  margin-left: 47rem;
  margin-right: 45rem;
}

.restaurant__dishes--animated-1 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
}

.restaurant__dishes--animated-2 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
}

.restaurant__dishes--animated-3 {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.dishes-order {
  font-size: 1.6rem;
  padding-top: 3rem;
  margin-bottom: .5rem;
  -webkit-text-decoration: double;
          text-decoration: double;
}

.dishes-order__underline {
  border: 2px solid #99E2D0;
  height: 3px;
  width: 4rem;
  margin-bottom: 1.5rem;
  margin-left: 4px;
}

.dishes {
  border: 1px solid #bfbcbc;
  -webkit-box-shadow: 1px 3px 10px 3px #bfbcbc;
          box-shadow: 1px 3px 10px 3px #bfbcbc;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  height: 7rem;
  width: 48rem;
  padding: 1rem;
  padding-bottom: 2rem;
}

.dishes--1 {
  margin-right: 5rem;
}

.dishes__name {
  display: block;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.dishes__price {
  padding-left: 3rem;
  padding-right: 1rem;
  font-weight: bolder;
}

.dishes__ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*&:hover > .try__ingredients__dish{
        animation: textRetreat 1s ease-out;
        animation-fill-mode: forwards;  
    }*/
  /*&:hover > .try__writtings{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
  /* &:hover  .try__price{
        animation: shiftPrice 1s;

     }*/
}

.try__green-box {
  display: inline;
  padding: 1rem 2rem 0rem 2rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #79c9b5;
  margin-left: -1rem;
  margin-bottom: 1.4rem;
  opacity: 0;
}

.try:hover > .try__green-box {
  -webkit-animation: shiftButton 2s ease-out;
          animation: shiftButton 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*&:hover{
            animation: rotate 2s infinite;
        }*/
}

.try__dishes {
  border: 1px solid #bfbcbc;
  -webkit-box-shadow: 1px 3px 10px 3px #bfbcbc;
          box-shadow: 1px 3px 10px 3px #bfbcbc;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  height: 7rem;
  width: 48rem;
  padding: 1rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.try__writtings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.try__price {
  font-weight: bolder;
  display: inline;
  margin-top: 3rem;
  margin-right: 1rem;
  position: relative;
}

.try__writtings:hover + .try__price {
  -webkit-animation: shiftPrice 1s ease-out;
          animation: shiftPrice 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.try__ingredients-dish {
  margin-top: -.5rem;
  padding-bottom: 1.5rem;
}

.try__ingredients-dish::before {
  content: "\A";
  white-space: pre;
}

.try__name-dish {
  font-weight: bolder;
}

.fa-circle-check {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  color: white;
}

.fa-circle-check:hover {
  -webkit-animation: rotate 2s infinite;
          animation: rotate 2s infinite;
}
/*# sourceMappingURL=main.css.map */