/* Here will go the basic definitions of our entire project , they are valuable for all our project*/

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}