@mixin dishes{
    border: 1px solid rgb(191, 188, 188);
    box-shadow: 1px 3px 10px 3px rgb(191, 188, 188);
    font-size: 1.4rem; 
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    height:7rem;
    width: 45rem;
    padding: 1rem;
}

